{% if session.username %}
<p>Tervetuloa, {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<form action="/profile" method="POST">
<input type="submit" value="Profiili">
</form>
{% else %}
<form action="/login" method="POST">
<p>Käyttäjänimi:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu sisään">
</form>
<form action="/register" method="POST">
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}
